* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../images/4.jpg")no-repeat;
  background-size: cover;
}
.main{
  width: 100%;
  padding-top: 50px;
  .logo{
    padding: 10px;
    margin: 0 auto;
    width: 70%;
    background: rgb(255,240,120);
    border-radius: 8px;
    border: 1px solid white;
    img{
      width: 100px;
      height: 120px;
      display: inline-block;
      @media screen and(max-width: 880px) {
        display: block;
        margin: 0 auto;
      }
    }
    div{
      display: inline-block;
    }
  }
}
.menu{
  margin-top: 30px;
  box-shadow: 0px 0px 20px rgba(0,0,0,.85);
  background: rgba(255,255,255,.2);
  width: 100%;
  padding: 10px;
  div{
    width: 70%;
    margin: 0 auto;
    ul{
      li{
        display: inline-block;
        @media screen and(max-width: 1166px) {
          display: block;
          padding: 10px 15px;
          text-align: center;
        }
        a{
          text-decoration: none;
          color: black;
          font-weight: bold;
          padding: 10px 15px;
          border-radius: 5px;
          &:hover{
            background-color: #fff;
          }
        }
      }
    }
  }
}
.article_container{
  margin: 30px;
  width: 66.66666666666666%;
  background: linear-gradient(to right,rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.65) 100%);
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 8px;
  div{
    padding: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;

  }
}
.active{
  background-color: green;
}
